.cabecalho {
    width: 360px;
    height: 81px;
    background-color: aqua;

}

.primeira_secao {
    width: 360px;
    height: 159px;
    background-color: rgb(101, 174, 174);
    display: grid;
    grid-template-columns: 90px 90px;

}

.retangulo {
    width: 68px;
    height: 123px;
    background-color: rgb(153, 101, 174);
    grid-template-columns: 90px 90px;
}